# virtual machine crash logs
hs_err_pid*

# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Build output directies
/target
*/target
/build
*/build

# Jakarta transformed sources
/jakarta/src

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# NetBeans specific files/directories
.nbattrs

# Miscellaneous
*.log
.clover
